<nav class="row">
  <ul class="nav page-nav col-md-12" style="<%= @store.primary_color %>">
      <%  @categories.each do |c| %>
        <li><%= link_to c,"#", onMouseOver:"this.style.backgroundColor='##{@store.secondary_color}'", onMouseOut:"this.style.backgroundColor='##{@store.primary_color}'" %></li>
      <% end %>
  </ul>
</nav>