<nav class="row">
  <ul class="nav page-nav col-md-12">
    <!-- loop categorias -->
    <li><a href="#">Eletrônicos</a></li>
    <li><a href="#">Roupas</a></li>
    <li><a href="#">Telefonia</a></li>
  </ul>
</nav>