<div class="banner">
  <%= image_tag @store.banner, class: 'banner-img' %>
</div>

<div style="background:orange;" class="page container">
  <div class="col-md-5 page-header">
    <%= @store.name %>
  </div>
  <div class="col-md-7">
    barra de busca
  </div>

  <nav class="row">
    <ul class="nav page-nav col-md-12">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  
  

</div>
