<nav class="row">
  <ul class="nav page-nav col-md-12">
    <!-- loop categorias -->
    <li><%= link_to "CONFIGURAR LOJA" %></li>
    <li><%= link_to "NOVO PRODUTO" %></li>
    <li><%= link_to "LISTAR PRODUTOS" %></li>
  
  </ul>
</nav>