<div id="user-profile">
  <header>
    <%= image_tag 'http://placehold.it/32x32', class:'img-circle' %>
    Fulano
    <%= link_to "Sair", destroy_user_session_path, method: :delete , class: 'pull-right' %>
  </header>
  <section>
    <h5>Informações do Usuario</h5>
    <br><br><br><br>
  </section>
  <!-- info do usuario -->
</div>

    