<section>
<header class="intro-header" style="background-image: url('<%= image_url('corredor4.jpg') %>'); background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading text-center">
                    <h1 class="brand">ShowShop</h1>
                    <span class="subheading input-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" placeholder="Buscar por...">
                        <span class="input-group-btn">
                          <button class="btn btn-search" type="button"><%= icon('search') %></button>
                        </span>
                      </div>
      </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="showshop-display col-md-12">
    <div class="container">
        <h2 class="col-md-offset-1">AQUI VOCÊ ENCONTRA</h2>
        <div class="col-md-10 col-md-offset-1">
            <% @lojas.each do |loja| %>
                <%= link_to (image_tag loja.logo, class: 'home-logos'), store_path(loja) %>
            <% end %>
        </div>
    </div>
</div>

</section>

