<header class="intro-header" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/d/de/Brighton_Churchill_Square_Shopping_Centre.JPG'); background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading text-center">
                    <h1 class="brand">ShowShop</h1>
                    <span class="subheading input-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" placeholder="Buscar por...">
                        <span class="input-group-btn">
                          <button class="btn btn-search" type="button"><%= icon('search') %></button>
                        </span>
                      </div>
      </span>
                </div>
            </div>
        </div>
    </div>
</header>
