<div class="col-md-3">
  <div class="product-card col-md-12">
    
    <%= link_to image_tag("http://placehold.it/15x15", class: 'card-img'), product_path(product) %>
    
    <div class="card-my-list">
      <button class="btn btn-transparent col-md-12">Add Lista</button>
    </div>  
    
    <div class="card-details">
      <div class="old-price col-md-5">antigo</div>
      <div class="new-price col-md-7">novo</div>
    </div>

  </div>
</div>