<div class="modal fade" id="publisherModal" tabindex="-1" role="dialog" aria-labelledby="publisherModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
      </div>
      <div class="modal-body">
        
        <div class="col-md-3">
          <%= image_tag @product.picture %>
        </div>
        <div class="col-md-9">
          <header><%= @product.name %></header>
          <p>
            <strong>Código:</strong><%= @product.code %> 
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal"><%= icon("reply") + " " %>Adicionar ao Carrinho</button>
      </div>
    </div>
  </div>
</div>